# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

#Notes from previous analysis not relevant for commit
Chahal\ Notes/
Chahal\ WPIC\ Poster\ 2014/

.DS_Store

Documentation/READINGS/

.*

# large HDDM outputs
Outputs/practice_hddm/*
Outputs/full_hddm/*

# PBS output files on batch processed scripts
*.o*

# MH dissertation code and data. On ACI for reference.
MH_Diss_Analyses/*

# hide output pbs scripts while under construction
Code/DDM/pbs_outputs/*

# cached files for rmarkdown docs on recent probes MLM analyses. there are a lot of them.
Code/mlm/recent_probes_mlm_cache/*
Code/mlm/recent_probes_mlm_files/*
Code/mlm/recent_probes_traits_cache/*
Code/mlm/recent_probes_traits_mplus_2d4ba0dbb37717f8a55d6dc7a657093c.dat
Code/mlm/traits_mplus_9e246c8c1205731bf68edb1b5941641f.dat
Code/mlm/recent_probes_mplus_a5ae7584483a895c8249e8cb856efd6e.dat
Code/mlm/gng_mlm_cache/*
Code/mlm/gng/gng_rt_mlm_publication_cache/*

#venv for GNG fitting. available on ACI if needed.
Code/DDM/gng_sim_test/hddm_local/*
Code/DDM/gng_sim_test/hddm/*

#mplus graphics objects (Big)
*.gh5